@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');

body {
    font-size: 12pt;
    font-family: "comic sans ms", sans-serif;
    color: rgb(0, 0, 0);
}

#burgers {
    background-color: black;
    color: white;
    border: 2px dashed white;
    padding: 12px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}



.burger-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 2rem;                               
}

.burger-item {
    padding: 10px;
    text-align: left;
}

.burger-item img {
    width: 100%;
    height: auto;
    display: block;
}



#customer {
    border: 2px dashed rgb(5, 5, 5);
    padding: 12px;
    background-color: white;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}


#customer p {
    color: black;
}



header {
    position: relative;
    height: 220px;
    overflow: hidden;

    max-width: calc(60rem - 40px);
    margin: 20px auto;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
}

header h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 60px;
    font-size: 36px;
}

main, footer {
    color: black;
    max-width: 60rem;
    margin: 0 auto;
}


button:hover {
    background-color: rgb(100, 128, 255);
    cursor: pointer;
}

.allergen {
    font-weight: bold;
    color: darkred;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;

}